---
import type { CollectionEntry } from "astro:content";
import Chip from "./Chip.astro";
import { t } from "i18next";
import Rating from "./Rating.astro";

interface Props {
  book: CollectionEntry<"books">;
}

const { book } = Astro.props;
const { Content } = await book.render();
const { title, authors, rating, tags = [] } = book.data;
---

<article>
  <div class="header">
    <h3 id={title}>{title}</h3>
    <Rating rating={rating} />
  </div>
  <p>
    {t("by")}
    {
      authors.length === 1 ? (
        <span class="author">{authors[0]}</span>
      ) : (
        <ul class="author">
          {authors.map((a) => (
            <li>{a}</li>
          ))}
        </ul>
      )
    }
  </p>
  <Content />
  <ul class="tags">
    {
      tags.map((t) => (
        <li>
          <Chip text={t} />
        </li>
      ))
    }
  </ul>
</article>

<style>
  .header {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  article {
    background-color: var(--primary-container);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 0.5px var(--primary);
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow:
      1px 1px 1px 1px var(--primary),
      -1px -1px 1px 1px var(--primary);
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
  }
  .author {
    font-style: italic;
  }
  ul.author {
    list-style: circle inside none;
  }
</style>
